.markdown_style p {
    @apply text-white;
    text-align: left !important;
    font-size: calc(var(--one)*18);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -.36px;
    max-width: calc(var(--one)* 1250);
    margin-bottom: calc(var(--one)* 24);
    text-align: center;
}

.markdown_style h3 {
    @apply text-3xl font-bold my-4;
}

.markdown_style p strong {
    @apply text-lg;
}

.markdown_style p em {
    @apply text-[#ea1313];
}