@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --one: min(1px, 0.052vw);
  --titleBold: 700;
  --PRegular: 400;
  --Bold: 600;
  --medium: 500;
  --ExtraBold: 900;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply font-inter;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-image: url(/images/bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden !important;
  @apply font-inter;
}


h1,
h2,
h3,
h4,
h5,
h6,
span,
li {
  @apply text-white;
}



h1 {}
h2 {
  @apply font-titleBold font-inter;
}

h6 {
  color: var(--Primary-Text, #fff);
    font-family: Inter;
    font-size: calc(var(--1)*20);
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -.4px;
}

p {
  @apply text-gray-400;
  text-align: left;
    font-size: calc(var(--one)*18);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -.36px;
    max-width: calc(var(--one)* 1250);
    margin-bottom: calc(var(--one)* 24);
    text-align: center;
}

/* Button */

.btn {
  @apply flex items-center bg-gradient-blue rounded-full font-titleBold font-inter text-white cursor-pointer text-[14px] leading-8 md:text-lg;
          padding: calc(var(--one)* 15) calc(var(--one)* 70);
}

.btn:hover {
  @apply bg-gradient-blue-reverse;
}


.div_parent {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--one)* 32);
}

.h2h2 {
  padding-block: calc(var(--one)* 16);
  padding-inline: calc(var(--one)* 32);
  background-color: #26262a;
  border-radius: calc(var(--one)* 42);
  max-width: 100%;
  text-align: center;
}

.title {
  font-size: calc(var(--one)*120);
  line-height: calc(var(--one)*156);
  font-weight: 900;
  text-align: center;
  margin-bottom: calc(var(--one)* 0);
}

.title_container {
  width: 100%;
  max-width: min(var(--one)* 1128, 95%);
  margin-inline: auto;
}