@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --one: min(1px, 0.052vw);
  --titleBold: 700;
  --PRegular: 400;
  --Bold: 600;
  --medium: 500;
  --ExtraBold: 900;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply font-inter;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-image: url(/images/bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden !important;
  @apply font-inter;
}


h1,
h2,
h3,
h4,
h5,
h6,
span,
li {
  @apply text-white;
}



h1 {}
h2 {
  @apply font-titleBold font-inter;
}

h6 {
  color: var(--Primary-Text, #fff);
    font-family: Inter;
    font-size: calc(var(--1)*20);
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -.4px;
}

@media (min-width: 1080px) {
    p {
        @apply text-gray-400;
        text-align: left;
        font-size: calc(var(--one)*18);
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: -.36px;
        max-width: calc(var(--one)* 1250);
        margin-bottom: calc(var(--one)* 24);
        text-align: center;
      }
}

p {
  @apply text-gray-400;
  text-align: left;
    font-size: calc(var(--one)*18);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -.36px;
    max-width: calc(var(--one)* 1250);
    margin-bottom: calc(var(--one)* 24);
    text-align: center;
}


/* containers */

.container2 {
  @apply mx-auto p-[15px] w-full sm:max-w-[36rem] md:max-w-[42rem] lg:max-w-[56rem] xl:max-w-[72rem];
}

/* Button */

.btn {
  @apply flex items-center bg-gradient-blue rounded-full font-titleBold font-inter text-white cursor-pointer text-[14px] leading-8 md:text-lg;
          padding: calc(var(--one)* 15) calc(var(--one)* 70);
}

.btn:hover {
  @apply bg-gradient-blue-reverse;
}


.div_parent {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--one)* 32);
}

.h2h2 {
  padding-block: calc(var(--one)* 16);
  padding-inline: calc(var(--one)* 32);
  background-color: #26262a;
  border-radius: calc(var(--one)* 42);
  max-width: 100%;
  text-align: center;
}

.title {
  font-size: calc(var(--one)*120);
  line-height: calc(var(--one)*156);
  font-weight: 900;
  text-align: center;
  margin-bottom: calc(var(--one)* 0);
}

.title_container {
  width: 100%;
  max-width: min(var(--one)* 1128, 95%);
  margin-inline: auto;
}


.buttons_div {
  display: flex;
  justify-content: center;
  gap: calc(var(--one)* 24);
  flex-wrap: wrap;
}


.dev_releases_card {
  border-radius: calc(var(--one)* 12);
  border: calc(var(--one)* 1) solid #3d3d40;
  background: var(--On-Background, #26262a);
  -webkit-backdrop-filter: blur(calc(var(--one)* 40));
  backdrop-filter: blur(calc(var(--one)* 40));
  padding: calc(var(--one)* 16);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--one)* 24);
  height: 100%;
  flex: 1 1;
}

.dev_releases_image_container {
  position: relative;
  width: 100%;
  min-width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: calc(var(--one)* 12);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dev_releases_read_more {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: calc(var(--one)*16);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -.32px;
  background: var(--Linear, linear-gradient(223deg, #fbff25 -91.33%, red 98.02%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dev_releases_image_title {
  position: absolute;
  width: 100%;
  top: calc(var(--one)* 30);
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  font-size: calc(var(--one)*35);
  font-weight: 800;
}

.slider_description {
  font-size: calc(var(--one)*16);
  font-weight: 400;
  line-height: calc(var(--one)*24);
  letter-spacing: -.02em;
  text-align: left;
  height: calc(var(--one)* 72);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.PickMinerImage {
  transition: all .4s ease;
  border-radius: calc(var(--one)*20);
  padding: calc(var(--one)*24);
  width: fit-content;
  background: url(/images/PickMiners/modern-bg-light.webp);
  background-position: 50%;
  background-size: 200% 200%;
}