@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --one: min(1px, 0.052vw);
  --titleBold: 700;
  --PRegular: 400;
  --Bold: 600;
  --medium: 500;
  --ExtraBold: 900;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply font-inter;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-image: url(/images/bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden !important;
  @apply font-inter;
}


h1,
h2,
h3,
h4,
h5,
h6,
span,
li {
  @apply text-white;
}



h1 {}
h2 {
  @apply font-titleBold font-inter;
}

p {
  @apply text-gray-400 text-sm md:text-base;
}

/* Button */

.btn {
  @apply flex items-center bg-gradient-blue rounded-full font-titleBold font-inter text-white cursor-pointer text-[14px] leading-8 md:text-lg px-8 py-4;
}