.Mui-focusVisible {
  outline: none!important;
}

.drawer_custom {
  --Drawer-verticalSize: "300px" !important;
}


@media (min-width: 1024px) {

  .header_image {
      width: calc(var(--one)* 70);
      height: calc(var(--one)* 70);
    }
  .header_text {
    font-size: calc(var(--one)*56);
      line-height: calc(var(--one)*43.57);
  }
  .header_logo_container {
    gap: calc(var(--one)* 9.93);
  }
}

.animation_nav_ul {
  position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #313134;
    border-radius: calc(var(--one)*5);
    gap: 0 !important;
    top: calc(100% + var(--one));
    width: max-content;
    overflow: hidden;
}